Color de los posts: #74cfae
Color de fondo: #555
<div class="container">
	<h2>Posts de <%= posts.email %> </h2>
	<table class="table table-hover">
		<th class="text-center" >Email</th>
		<th class="text-center" >Hour</th>
		<th class="text-center" >Route</th>
		<th class="text-center" >Cost</th>
		<th class="text-center" >Contact</th>
		<th class="text-center" >Types</th>
		<th class="text-center" >Seats</th>
		<th class="text-center" >Notes</th>
		<th class="text-center" colspan="2">Opciones</th>
		<% _.each(posts, function(post) { %>
		<tr>
			<td> <%=post.email%> </td>
			<td> <%=post.hour%> </td>
			<td> <%=post.route%> </td>
			<td> <%=post.cost%> </td>
			<td> <%=post.num_contact%> </td>
			<td> <%=post.types%> </td>
			<td> <%=post.sits%> </td>
			<td> <%=post.notes%> </td>

			<td><a href="/post/edit/<%= post.id %>" class="btn btn-sm btn-success">Ver detales</a>
			</td>

			<td>
				<form action="/post/destroy/<%= post.id %>" method="PSOT" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" class="btn btn-danger btn-sm" value="Eliminar">
					<input type="hidden" name="_csrf" value="<%= _csrf%>">
				</form>
			</td>

		</tr>
		<%})%>
	</table>
</div>